
<ion-header>
  <ion-navbar>
    <ion-title>Basic Cards</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="cards-bg">

<ion-card>

  <ion-card-content>
    This is just your basic card with some text to boot. Like it?  Keep scrolling...
  </ion-card-content>

</ion-card>


</ion-content>